<h1>Restaurant statistics</h1>

<h3>Total revenue: <span style="color: rgb(65, 190, 113);">{{totaldoanhthu}} VND</span></h3>

<h3>Order: <span style="color: rgb(65, 190, 113);">{{totalHD}}</span></h3>

<div class="row gx-5">
    <div class="col-lg-4 col-md-6 mb-5">
        <div class="card card-raised border-start border-4 border-primary">
            <div class="card-body px-4">
                <div class="overline text-muted mb-1">Revenue</div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="display-6 me-3">{{totaldoanhthu}}<span>VND</span></div>
                    <div class="d-flex align-items-center text-success">
                        <div class="display-6 text-success fw-normal">0%</div>
                    </div>
                </div>
                <div class="text-xs text-muted mb-1">Last year: 0<span>VND</span></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5">
        <div class="card card-raised border-start border-4 border-secondary">
            <div class="card-body px-4">
                <div class="overline text-muted mb-1">Customer</div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="display-6 me-3">{{totalVistor}}</div>
                    <div class="d-flex align-items-center text-muted">
                       <div class="display-6 text-success fw-normal">0%</div>
                    </div>
                </div>
                <div class="text-xs text-muted mb-1">Last year: 0</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5">
        <div class="card card-raised border-start border-4 border-info">
            <div class="card-body px-4">
                <div class="overline text-muted mb-1">Order</div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="display-6 me-3">{{totalHD}}</div>
                    <div class="d-flex align-items-center text-danger">
                        <div class="display-6 text-success fw-normal">0%</div>
                    </div>
                </div>
                <div class="text-xs text-muted mb-1">Last year: 0</div>
            </div>
        </div>
    </div>
</div>

<div class="chart">
    <div class="container-monan .container-item-char">
        <h4>Food sale</h4>
        <canvas id="doughnut-chart" awidth="800" height="500" style="display: block;box-sizing: border-box;height: 400px;width: 400px;" width="500"></canvas>
    </div>

    <div class="container-doanhso .container-item-char">
        <h4>Revenue</h4>
        <canvas id="myChart" width="500" height="300"></canvas>  
    </div>
</div>

<div class="container-hoadon">
    <h4>Bill</h4>
     <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">
              ID
            </th>
            <th scope="col">
              Name
            </th>
            <th scope="col">
             Total amount
            </th>
            <th scope="col">
             Date
            </th>
            <thscope="col">
            </th>
            </tr>
        </thead>
        <tbody>
            {{#each hoadon}}
            <tr>
              <th scope="row">{{sum @index this.stt}}</th>
                <td>
                {{this.phucvuid}}
                </td>
              <td>{{this.banpv.khachhang.hoten}}</td>
              <td>{{this.tongtien}}</td>
              <td>{{this.thoigian}}</td>
              <td>
                </td>
            </tr>

            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Không có hoá đơn nào
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="hoadon">
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        {{#each page}}
        <li class="page-item"><a class="page-link" href="/revenue/{{sum @index 1}}/#hoadon">{{sum @index 1}}</a></li>
        {{/each}}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>

<script>
     document.addEventListener("DOMContentLoaded", ()=>{

         var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
         };
        //console.log(typeof `{{foodsname}}`);
        var ten = `{{name}}`; 
        var tenmon = ten.split(',');
        var soluong = `{{soluong}}`
        soluong = soluong.split(',');
        var sl = [];
        var color = [];
        var i =0;
        for(let i = 0; i < soluong.length; i++){
            sl.push(Number(soluong[i]));
            color.push(dynamicColors());
        }
        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
            labels:  tenmon,
            datasets: [
                {
                label: "Population (millions)",
                backgroundColor: color,
                data: sl
                }
            ]
            },
            options: {
            title: {
                display: true,
                text: 'Đồ thị doanh thu 1 năm của cửa hàng'
            }
            }
        });
        var doanhthu =  `{{doanhthu}}`;
        doanhthu = doanhthu.split(',');

        var xValues = ['January','February','March','April','May','June','June','August','September','October','November','December'];
        var yValues = [];

        for(let i = 0; i < doanhthu.length; i++){
            yValues.push(Number(doanhthu[i]));
        }

        new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
            label: 'This year',
            fill: false,
            lineTension: 0,
            backgroundColor: 'rgba(75,192,192,0.4)',
            borderWidth: 3,
            borderColor: 'rgba(75,192,192,1)',
            borderCapStyle: 'round',
            borderJoinStyle: 'round',
            pointBorderColor: 'rgba(75,192,192,1)',
            pointBackgroundColor: '#fff',
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: 'rgba(75,192,192,1)',
            pointHoverBorderColor: 'rgba(220,220,220,1)',
            pointHoverBorderWidth: 2,
            pointRadius: 3,
            pointHitRadius: 20,
            pointStyle: 'circle',
            data: yValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
            yAxes: [{ticks: {min: 6, max:16}}],
            }
        }
        });
     })
</script>