<form  class="mt-4" name="container-form" method="POST" action="/courses/handle-form-action">
    <h3>Waitting Order</h3>

    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">
              ID
            </th>
            <th scope="col">
              món ăn
            </th>
            <th scope="col">
             số lượng
            </th>
            <th scope="col">
             Thời gian
             </th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each order}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
                <td>
                  <a href="customer/{{this.phucvuid}}">
                  {{this.phucvuid}}
                  </a>
                  </td>
              <td>{{this.monan}}</td>
              <td>{{this.soluong}}</td>
              <td>{{this.time}}</td>
              <td>
                  <a href="/manage/customer/{{this.khachhangid}}/edit" class="btn btn-link">Edit</a>
                  <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.khachhangid}}" data-target="#delete-course-modal">Delete</a>
              </td>
            </tr>

            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Chưa có khách hàng nào
                 <a href="customer/create">Add customer</a>
              </td>
            </tr>
            {{/each}}
            <td>
              <a href="customer/create">
                <span class="oi oi-plus"></span>
              </a>
            </td>
        </tbody>
    </table>
</form>

<div id="demo">
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        {{#each page}}
        <li class="page-item"><a class="page-link" href="?page={{sum @index 1}}">{{sum @index 1}}</a></li>
        {{/each}}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>

{{!-- Confirm delete --}}

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete confirm?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form hidden --}}
<form name="delete-form" method="POST"></form>
<script>

    document.addEventListener("DOMContentLoaded", ()=>{
      console.log('type: ' + typeof {{tich 1 2 index}})
        var courseID;
        var deleteForm = document.forms["delete-form"];
        var btnDeltete = document.getElementById("btn-delete-course");
        var checkboxAll = document.getElementById("checkbox-all");
        var itemCheckbox = $('input[name="courseIDs[]"]');
        var btnSubmit = $(".btn-submit");
        var containerForm = document.forms["container-form"];
       

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
            console.log(courseID);
        })

        
        //console.log('id = ' + typeof courseID)
        btnDeltete.onclick = () => {
            deleteForm.action = `customer/${courseID}?_method=DELETE`;
            deleteForm.submit();
        }
    });
</script> 
