<form  class="mt-4" name="container-form" method="POST" action="/courses/handle-form-action">
    <h3>Món ăn của cửa hàng</h3>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select class="form-control form-control-sm select-all-options" name="action">
        <option value="">-- Chọn hành động --</option>
        <option value="delete">Xoá</option>
      </select>

      <button class="btn btn-primary btn-submit btn-sm disabled ">Thực hiện</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col" colspan="2">#</th>
            <th scope="col">
              Tên món ăn
            </th>
            <th scope="col">
              đơn giá
            </th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="courseIDs[]" value="{{this.monid}}">
                </div>
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.tenmon}}</td>
              <td>{{this.dongia}}</td>
              <td>
                  <a href="/foods/{{this.monid}}/edit" class="btn btn-link">Sửa</a>
                  <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.monid}}" data-target="#delete-course-modal">Xoá</a>
              </td>
            </tr>

            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Chưa có món ăn nào
                 <a href="/courses/create">Thêm món ăn</a>
              </td>
            </tr>
            {{/each}}
            <td>
              <a href="/foods/create">
                <span class="oi oi-plus"></span>
              </a>
            </td>
        </tbody>
    </table>
</form>

{{!-- Confirm delete --}}

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá món ăn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xoá món ăn này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-primary">Xoá bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
</div>
{{!-- Delete form hidden --}}
<form name="delete-form" method="POST"></form>
<script>

    document.addEventListener("DOMContentLoaded", ()=>{
        var courseID;
        var deleteForm = document.forms["delete-form"];
        var btnDeltete = document.getElementById("btn-delete-course");
        var checkboxAll = document.getElementById("checkbox-all");
        var itemCheckbox = $('input[name="courseIDs[]"]');
        var btnSubmit = $(".btn-submit");
        var containerForm = document.forms["container-form"];
       

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
            console.log(courseID);
        })

        
        //console.log('id = ' + typeof courseID)
        btnDeltete.onclick = () => {
            deleteForm.action = `/foods/${courseID}?_method=DELETE`;
            deleteForm.submit();
        }

        // click checkbox all
       checkboxAll.onchange = () => {
         itemCheckbox.prop("checked", checkboxAll.checked);
          renderSubmitBtn();
       };

        // item click checkbox
        for(let i = 0; i < itemCheckbox.length; i++){
          itemCheckbox[i].onchange = ()=>{
          var allItemchecked = itemCheckbox.length === $('input[name="courseIDs[]"]:checked').length
          checkboxAll.checked = allItemchecked;
          renderSubmitBtn()
          }
        }

        btnSubmit.click((e) => {
          //Huỷ bỏ hành vi mặc định
          e.preventDefault();
          var isSubmitable = !btnSubmit.hasClass("disabled");
          if(isSubmitable){
            containerForm.submit();
          }
        });

        //button submit re-render
        function renderSubmitBtn() {
          var checkedCount =  $('input[name="courseIDs[]"]:checked').length
          if(checkedCount > 0){
            btnSubmit.removeClass("disabled");
          }else{
            btnSubmit.addClass("disabled");
          }
        }
    });
</script> 
